nav {

    h1 {
        font-family: 'Monomaniac One', sans-serif;
        cursor: pointer;
    }
    ul {
        display: flex;
        li {
            font-family: 'Questrial', sans-serif;
            cursor: pointer;
        }
    }

    img {
        border: none;
        max-width: 8vh;
    }
}


@media only screen and (max-width: 900px) and (orientation: landscape) {
    nav {
        img {
            max-width: 15vh;
          }
    }
  
}