<div class="container">
    <button class="scroll-button left" (click)="scrollLeft()">
        <span class="button-content">&#8249;</span>
    </button>
    <div class="scroll-wrapper" #scrollWrapper id="scrollWrapper">
      <app-car-box
      flname="Anna Malik"
      position="Interior Designer"
      imgLink="assets/images/homeimages/blackandwhite/anna.png"></app-car-box>
      <app-car-box
      flname="Danny Bowien"
      position="Design Chief"
      imgLink="assets/images/homeimages/blackandwhite/danny.png"></app-car-box>
      <app-car-box
      flname="Sadie Williams"
      position="Architect"
      imgLink="assets/images/homeimages/blackandwhite/sadie.png"></app-car-box>
      <app-car-box
      flname="Marcus Townsend"
      position="Interior Designer"
      imgLink="assets/images/homeimages/blackandwhite/marcus.png"></app-car-box>
      <app-car-box
      flname="Marti Delavan"
      position="Furniture Designer"
      imgLink="assets/images/homeimages/blackandwhite/marti.png"></app-car-box>
    </div>
    <button class="scroll-button right" (click)="scrollRight()">
        <span class="button-content">&#8250;</span>
    </button>
  </div>
  