<div class="wrapper">
    <div class="wrapper-two">
        <div>
            <div style="display: flex;">
                <img src="assets/images/beauty-products/Symbol.svg" alt="">
                <div style="margin-left: 5px;">Acme</div>
            </div>
            <div class="para" style="margin-top: 1vh;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sequi iure aut vitae ratione incidunt corrupti maxime autem explicabo, tempora totam veritatis perferendis libero! Est unde qui amet id deleniti?</div>
        </div>
     <div class="my-links">
        <div>
            <h1>Hot links</h1>
            <ul>
                <li>Home</li>
                <li>Shop</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <h1>More info</h1>
            <ul>
                <li>How it works</li>
                <li>About us</li>
                <li>Clinical studies</li>
                <li>Terms & Conditions</li>
            </ul>
        </div>
        <div>
            <h1>Customer care</h1>
            <ul>
                <li>FAQ</li>
                <li>Terms of use</li>
                <li>Privacy policy</li>
                <li>Discount system</li>
            </ul>
        </div>
    </div>   
    </div>
    <div>
        <div></div>
        <div></div>
    </div>
</div>
<br><hr><br>
<div class="other">
    <div>© All rights reserved</div>
    <div>
        <img src="assets/images/socials/instagram.png" alt="CBD">
        <img src="assets/images/socials/twitter.png" alt="CBD">
        <img src="assets/images/socials/facebook.png" alt="CBD">
    </div>
</div>