<div class="container">

    <div class="wrapper">
        <img src="assets/images/homeimages/mainthree/main1.png" alt="CBD">
        <h1>Explore our new furniture collection</h1>
        <p>Lorem ipsum dolor sit amet, sectetur adipiscing elit. Phasellus nil congue, aliquet orci ut, condimentum tellus. Aenean in purus ac nibh aliquet et 
            das consectetur at sed dolor. </p>
    </div>

    <div class="wrapper">
        <img src="assets/images/homeimages/mainthree/main2.png" alt="CBD">
        <h1>Discover the latest decorating trends </h1>
        <p>Lorem ipsum dolor sit amet, sectetur adipiscing elit. Phasellus nil congue ut, condimentum tellus. Aenean in purus ac nibh aliquet et das consectetur at 
            sed sit amet trofeur. </p>
    </div>

    <div class="wrapper">
        <img src="assets/images/homeimages/mainthree/main3.png" alt="CBD">
        <h1>Get interior expert interior design advice</h1>
        <p>Lorem ipsum dolor sit amet, sectetur adipiscing elit. Phasellus nil congue, aliquet orci ut, condimentum tellus. Aenean in purus ac nibh aliquet et 
            das consectetur at sed dolor.</p>
    </div>

</div>