main {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    height: 80%;
    h1 {
        font-family: 'Questrial', sans-serif;
    }
    #hachi {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{
            width: 15vw;
            border-radius: 84% 16% 57% 43% / 34% 43% 57% 66%;
            animation-name: movingBorder;
            animation-duration: 10s;
            animation-iteration-count: 10;
            border: 3px solid black;
            margin-left: 5vw;
        }
        h3 {
            font-size: 0.6rem;
            margin-left: 5vw;
            margin-top: 5vh;
        }

        .texthover {
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
        }
        .imghover:hover + .texthover{
            opacity: 1;
        }
    }
    
    
    p {
        max-width: 25vw;
        font-family: 'Questrial', sans-serif;
    }
    
    .stack {
        display: flex;
        text-align: center;

        h2 {
            font-family: 'Questrial', sans-serif, 400;
            font-size: 0.9rem;
        }
        ul {
            list-style: none;
            list-style-type: none;
            display: flex;
            text-align: center;
            li {
                margin-left: 1vw;
                font-family: 'Montserrat', sans-serif, 200;
                opacity: 60%;
                font-size: 0.8rem;
            }
            
        }
    }
}

@keyframes movingBorder {
    0%   {border-radius: 50% 50% 69% 31% / 50% 67% 33% 50% }
    25%  {border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% }
    50%  {border-radius: 66% 34% 20% 80% / 73% 64% 36% 27% }
    75% {border-radius: 84% 16% 57% 43% / 34% 43% 57% 66% }
    100% {border-radius: 50% 50% 69% 31% / 50% 67% 33% 50% }
  }