<div class="custom-background">
    <div class="myflex">
        <div class="display-2 my-title">Supported By Science, Driven By Results</div>
        <div class="h1 my-subtitle">You deserve to feel healthy on the inside, and radiant on the outside.</div>
        <div class="trio">
            <div>
                <div class="h3">30</div>
                <div class="h5">Products</div>
            </div>
            <div style="width: 3px; background-color: white; height: 20vh;"></div>
            <div>
                    <div class="h3">300+</div>
                    <div class="h5">Customers</div>
            </div>
            <div style="width: 3px; background-color: white; height: 20vh;"></div>
            <div>
                <div class="h3">18</div>
                <div class="h5">Formulas</div>
            </div>
        </div>
    </div>
</div>
