.expboxone, .expboxtwo {
    display: flex;
    align-items: center;
    margin-top: 8vh;
}

.expboxtwo {
    justify-content: right;
}

#experience {
    margin-right: 10vw;
    img {
        width: 20vw;
    }
}

.first, .second {
    width: 30vw;
    -webkit-box-shadow: 11px 10px 17px -14px rgba(0,0,0,0.35);
-moz-box-shadow: 11px 10px 17px -14px rgba(0,0,0,0.35);
box-shadow: 11px 10px 17px -14px rgba(0,0,0,0.35);
    h2 {
        font-size: 2rem;
        font-family: 'Monomaniac One', sans-serif;
    }
    h3 {
        font-size: 1.5rem;
        font-family: 'Questrial', sans-serif;
    }
    h4 {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-size: 0.8rem;
        font-family: 'Questrial', sans-serif;
    }
}

.first {
    margin-right: 10vw;
}

.second {
    margin-left: 10vw;
}

.about {
    margin-top: 10vh;
    h1 {
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-family: 'Questrial', sans-serif;
    }
}


@media only screen and (max-width: 900px) and (orientation: landscape) {
    .first, .second {
        width: 60vw;
    }
    img {
        height: 60vh;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .first, .second {
        width: 90vw;
        margin-left: 0;
    }
    img {
        position: absolute;
        opacity: 0;
    }
    .about {
        margin-top: 3vh;
    }
  }