nav {
    border-bottom: solid 1px lightgray;
    border-top: dashed 1px black;
    font-family: 'Montserrat', sans-serif;
}

.custom-navbar-brand {
    img{
        width: 2vw;
    }
}



@media only screen and (max-width: 600px) {
    .custom-navbar-brand {
        img {
            width: 2em;
        }
    }
    
}

