<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="col-12 col-lg-1"></div>
        <div class="navbar-brand mb-0 custom-navbar-brand">
            <img 
            src="assets/images/beauty-products/Symbol.svg"
            alt="Cannot be Displayed">
            Lorem
        </div>
        

        <div 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        style="border: none;">
            <img 
            src="assets/images/beauty-products/menu.svg" 
            alt="Cannot be Displayed"
            style="width: 1.8em;">
        </div>
        <div 
        class="collapse navbar-collapse" 
        id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link active">Home</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link disabled">Shop</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link disabled">About</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <a class="nav-link disabled">Contact</a>
                </li>
                <li class="nav-item ms-lg-5">
                    <img src="assets/images/beauty-products/search_icn.svg" alt="Cannot be Displayed" class="nav-link disabled">
                </li>
            </ul>
        </div>
    </div>
</nav>