<div class="background row">
    <div class="col-1"></div>
    <main class="container-fluid col-10">
        <div class="row mt-4 mt-lg-5">
            <div class="col-lg-8">
                <div class="row display-2 lg-display-1 mt-lg-5" id="title">Explore the new beauty trends for this season</div>
                <div class="row h5 lg-h4 mt-5" id="text"><div class="col col-lg-12">We believe that beauty and health work best when they're supported by science.</div></div>
                <div class="row mt-5">
                    <button class="col-2">GET STARTED</button>
                </div>
                <div class="row lg-h5 row mt-5" id="sub-text">Trusted by 10+ companies worldwide</div>
                <div class="row align-items-center row mt-3 mb-5">
                    <img src="assets/images/beauty-products/Dove.svg" alt="Cannot be Displayed" class="col-3 col-lg-2">
                    <img src="assets/images/beauty-products/Chick-fil logo.svg" alt="Cannot be Displayed" class="col-3 col-lg-2">
                    <img src="assets/images/beauty-products/Nivea Logo.svg" alt="Cannot be Displayed" class="col-3 col-lg-2">
                </div>
            </div>
        </div>
    </main>
    <div class="col-1"></div>
</div>