<div class="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-lg-2"></div>
            <div class="col col-lg-7  display-2" style="font-family: 'Kaisei Tokumin', serif; margin-top: 10vh; margin-left: -3vw;">We added superfoods to boost benefits</div>
        </div>
        <div class="row mt-lg-5">
            <div class="col-1 col-lg-2"></div>
            <div class="col-10 col-lg-7 h4" style="font-family: 'montserrat', sans-serif; margin-left: -3vw;">We've added superfoods to boost benefits in your overall health, mental well-being, skin and hair. Plus, they taste naturally delicious.</div>
        </div>
        <div class="row">
            <div>
                <div class="row d-flex align-items-center container-fluid mt-lg-5 justify-content-center">

                    <app-bp-card 
                    class="col col-lg-3"
                    title="Matcha Green Tea" 
                    description="A potent green tea made from the entire green tea leaf for a plethora of antioxidant benefits."
                    [imageSrc]="'assets/images/beauty-products/matcha-icon.svg'"></app-bp-card>
                    <app-bp-card 
                    class="col col-lg-3"
                    title="Cacao Superfood Powder" 
                    description="Cacao is a powerhouse of anti-aging and antioxidant properties."
                    [imageSrc]="'assets/images/beauty-products/Cacao-beans-icon.svg'"></app-bp-card>
                    <app-bp-card 
                    class="col col-lg-3"
                    title="Horsetail a powerful herb" 
                    description="Has silica and antioxidant compounds to aid with the synthesis of collagen production."
                    [imageSrc]="'assets/images/beauty-products/Horsetail-icon.svg'"></app-bp-card>
                </div>
            </div>
        </div>
    </div>
</div>