img {
    width: 39.2vw;
    cursor: pointer;
}
  
.project {
    display: flex;
    align-items: center;
    // margin-left: 9vw;
    margin-top: 5vh;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-left: 5vw;
    border-radius: 5px;
    overflow: hidden;
    border: solid black 1px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transition: background-color 0.3s ease;
    pointer-events: none;
  }
  
  .image-container:hover .overlay {
    background-color: transparent;
  }

